header{
    background-color: darkred;
    color: goldenrod;
    text-align: center;
}

main{
    background-color: lightgray;
}

body{
    background-image: url(../assignment/record.png);
    margin: 0;
    padding: 1em;
}














